[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/outdated-foundry-package"]
	path = lib/outdated-foundry-package
	url = https://github.com/ckoopmann/outdated-foundry-package
